<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/select-menu.css" />
    <link rel="stylesheet" href="/css/toggle.css" />

    <link rel="stylesheet" href="/css/guild.css" />
    
    <script src="/js/jquery.js"></script>
    <script src="/js/navigator_userAgent.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" />
    <title>Document</title>
</head>
<body>
    <%- include("../../templates/menu_guild") %> 

    <div class="content" id="content">
        <div class="page-title">
            <br>
            <h2><strong><i class="fas fa-hammer"></i> MODERAÇÃO</strong></h2>
        </div>

        <br>
    </div>

    <%- include("../../templates/usertoJSON") %> 
    <%- include("../../templates/guildtoJSON") %> 
    <span id="guild-db-data" hidden>
        <% const data = { ...db } %> 
        <%= JSON.stringify(data) %>
    </span>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/Bitfield.js"></script>
    <script type="text/javascript" src="/js/GuildConfigs.js"></script>
    <script type="text/javascript" src="/js/loads/guild/moderation.js"></script>
    <script type="text/javascript" src="/js/select-menu.js" defer></script>
    
    <script defer>
        function save() {
            const data_saves = $("[data-send-on-save]")

            const save = data_saves.map(function(x) {
                const a = $(this)
                const type = a.attr("type")
                
                if(type == "selectmenu") {
                    const m = a.find("div.select div.custom-options span.custom-option.selected")[0]
                    const select = $(m)
                    if(select) {
                        const value = $(select).attr("data-value")

                        return {
                            type: "selectmenu",
                            id: a.find("div.select").attr("id"),
                            value: value
                        }
                    }
                }

                if(type == "checkbox") {
                    return {
                        type: "checkbox",
                        id: a.attr("id"),
                        value: a.is(':checked'),
                        bitfield: typeof a.attr("bitfield") == "string"
                    }
                }
            }).filter(x => x)

            let json = {
                guildID: "<%= guild.id %>",
                type: "moderation",
                configs: {}
            }
            
            const bitfield = new GuildConfigs()
            const _ = [ ...save.prevObject ]
            _.map(x => {
                if(x.bitfield == true) {
                    if(x.value == true) {
                        const flag = GuildConfigs.FLAGS[`${x.id}`.toUpperCase()]
                        if(flag) {
                            bitfield.add(flag)
                        }
                    }
                } else {
                    json.configs[x.id] = x.value
                }
            })
            json.configs.configs = { ...bitfield } 

            console.log(json)
            console.log("...")
            axios.post(`${window.location.origin}/api/guild/<%= guild.id %>/save`, json)
        }
    </script>
</body>
</html>