<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/select-menu.css" />
    <link rel="stylesheet" href="/css/toggle.css" />

    <link rel="stylesheet" href="/css/guild.css" />
    
    <script src="/js/jquery.js"></script>
    <script src="/js/navigator_userAgent.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" />
    <title>Document</title>
</head>
<body>
    <%- include("../../templates/menu_guild") %> 

    <div class="content" id="content">
        <!-- <div class="page-title">
            <br>
            <h2><strong><i class="fas fa-clipboard-user"></i> Staff</strong></h2>
        </div>
        <br> -->
        <div id="roles-list">
            <div class="role role-selected">Teste</div>
            <% guild.roles.filter(x => x.id != guild.id).sort((a, b) => b.rawPosition - a.rawPosition).forEach(role => { 
                const color = "#" + (role.color || 16777215).toString(16)%>
                <div class="role" id="<%= role.id %> " data-color="<%= color %>" style="color: <%= color %>" ><p><%= role.name %></p></div>
            <% }) %>
        </div>

        <div id="permissions">
            <br>
            <div class="check-radio">
                <input type="checkbox" name="lunar_ban_members" id="lunar_ban_members" /><label style="margin-left: 1%; font-size: 18px"><strong>Banir Membros</strong></label>
                <p>Permite que um membro com o cargo aplique banimentos no servidor usando o bot(Lunar), <code>/ban</code>.</p>   
            </div>
            <br>
            <hr>
            <div class="check-radio">
                <input type="checkbox" name="lunar_kick_members" id="lunar_kick_members" data-send-on-save bitfield /><label style="margin-left: 1%; font-size: 18px"><strong>Expulsar Membros</strong></label>
                <p>Permite que um membro com o cargo expulsem membros do servidor usando o bot(Lunar), <code>/kick</code>.</p>  
            </div>
            <hr>
            <br>
            <div class="check-radio">
                <input type="checkbox" name="lunar_mute_members" id="lunar_mute_members" data-send-on-save bitfield /><label style="margin-left: 1%; font-size: 18px"><strong>Silenciar Membros</strong></label>
                <p>Permite que um membro com o cargo silenciem membros do servidor usando o bot(Lunar), <code>/mute</code>.</p>  
            </div>
            <hr>
            <br>
            <div class="check-radio">
                <input type="checkbox" name="lunar_adv_members" id="lunar_adv_members" data-send-on-save bitfield /><label style="margin-left: 1%; font-size: 18px"><strong>Advertir Membros</strong></label>
                <p>Permite que um membro com o cargo aplique uma advertência/aviso em um membro do servidor, <code>/adv</code>.</p>  
            </div>

        </div>
        <div class="card" style="width: 76%; float: right; margin-top: 4px;"><div class="card-content open" align="center" style="display: none;" id="save" onclick="save()"><h1>Save</h1></div></div>  
    </div>
        
    <%- include("../../templates/usertoJSON") %> 
    <%- include("../../templates/guildtoJSON") %> 
    <span id="guild-db-data" hidden>
        <% const data = { ...db } %> 
        <%= JSON.stringify(data) %>
    </span>

    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/Bitfield.js"></script>
    <script type="text/javascript" src="/js/Permissions.js"></script>
    <!-- <script type="text/javascript" src="/js/loads/guild/permissions.js"></script> -->

    <script>
        $(".role").click(function() {
            const role = $(this)
            $("#roles-list").find("div.role-selected").map(function() {
                const op = $(this)
                op.removeClass("role-selected")
                op.css({
                    "color": op.attr("data-color") || "rgb(168, 168, 168)"
                })
            })
            role.css({
                "color": "#fff"
            })
            role.addClass("role-selected")
            const perms_card = $("#permissions")
            perms_card.css({
                "display": "block"
            })
            $("#save").css({
                "display": "block"
            })
        })
    </script>
</body>
</html>