<input type="checkbox" id="check">
    <!-- Header -->
    <header>
        <div class="left__area">
            <h3><i class="fa fa-bars nav_btn"></i></h3>
            <img class ="avatar__lunnary" src="https://cdn.discordapp.com/avatars/777654875441463296/60bab4386da65e5332379ddd2461e834.png?size=1024" alt="avatar-lunar" />
        </div>
    </header>
    
    <!-- Mobile Nav Bar -->

    </div>
    <div id="mobile__menu" class="mobile__menu">
        <%- include("mobile_guilds") %> 
        <div class="scroll">
            <div class="menu">
                <div class="profile_info">
                    <img src="<%= guild.icon %>" class="profile_image" alt="avatar-<%= guild.name %> " />
                    <h4><%= guild.name %></h4>
                </div>
                <div class="itens">
                    <p>Gerenciamento</p>
                    <a class="a-item" href="/dashboard/guild/<%= guild.id %>/moderation"><i class="fas fa-hammer"></i>  <span>Moderação</span></a>
                    <a class="a-item" href="/dashboard/guild/<%= guild.id %>/permissions"><i class="fas fa-clipboard-user"></i>  <span>Permissions</span></a>
                    <p>Servidor</p>
                    <a class="a-item" href="/dashboard/guild/<%= guild.id %>/modlogs"><i class="fas fa-clipboard-list"></i><span>Logs de moderação</span></a>

                    <div style="height: 30px;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sidebar -->
    <div class="sidebar">
        <%- include("guilds") %> 
        <div class="scroll">
            <div class="menu">
                <div class="profile_info">
                    <img src="<%= guild.icon %>" class="profile_image" alt="avatar-<%= guild.name %> " />
                    <h4><%= guild.name %></h4>
                </div>
                <div class="itens">
                    <p>Gerenciamento</p>
                    <a class="a-item" href="/dashboard/guild/<%= guild.id %>/moderation"><i class="fas fa-hammer"></i>  <span>Moderação</span></a>
                    <a class="a-item" href="/dashboard/guild/<%= guild.id %>/permissions"><i class="fas fa-clipboard-user"></i>  <span>Permissions</span></a>
                    <p>Servidor</p>
                    <a class="a-item" href="/dashboard/guild/<%= guild.id %>/modlogs"><i class="fas fa-clipboard-list"></i><span>Logs de moderação</span></a>

                    <div style="height: 30px;"></div>
                </div>
            </div>
        </div>
    </div>