<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/profile/menu.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    
    <script src="/js/jquery.js"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" />
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="check">
    <!-- Header -->
    <header>
      <div class="left_area">
        <h3><i class="fa fa-bars nav_btn"></i></h3>
      </div>
      <!-- <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div> -->
    </header>
    
    <!-- Mobile Nav Bar -->
    <div id="mobile__menu" class="mobile__menu">
        <!-- <a class="mobile__menu__close">&times;</a> -->
            <div class="profile_info">
                <img src="<%= user.avatar %>" class="profile_image" alt="avatar-<%= user.tag %> " />
                <h4><%= user.tag %></h4>
            </div>
            <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
            <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
            <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
            <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
            <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
            <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
    </div>

    <!-- <div class="mobile_nav">
        <div class="nav_bar">
            <i class="fa fa-bars nav_btn"></i>
        </div>
    </div> -->
    
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="profile_info">
            <img src="<%= user.avatar %>" class="profile_image" alt="avatar-<%= user.tag %> " />
            <h4><%= user.tag %></h4>
        </div>
        <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
    </div>

    <div class="content">
      <div class="card">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="card">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="card">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.nav_btn').click(function(){
                const menu = $('#mobile__menu');

                if(menu.hasClass("mobile__menu--active")) menu.removeClass("mobile__menu--active");
                else menu.addClass("mobile__menu--active");
            });
        });
    </script>
</body>
</html>